// 引入外部样式文件
@import 'top.scss';
@import 'header.scss';
body,
html {
    width: 100%;
    box-sizing: border-box;
}

.container {
    width: 1090px;
    margin: 0 auto;
}

// 混合器
@mixin css-h3 {
    h3 {
        display: block;
        float: left;
        line-height: 30px;
        font-size: 28px;
        font-weight: 700;
        color: #333333;
        margin-right: 20px;
    }
    h3:hover {
        color: #b4a078;
    }
}

@mixin css-a {
    a {
        display: inline-block;
        margin-left: 30px;
        padding-top: 14px;
        cursor: pointer;
        color: #333333;
        font-size: 14px;
    }
    a:hover {
        color: #b4a078;
    }
}

// banner部分
.banner {
    img {
        display: block;
        width: 100%;
    }
}

// 主体内容
.main {
    width: 100%;
    .newgoods {
        height: 510px;
        padding-top: 30px;
        position: relative;
        .ng1 {
            height: 30px;
            margin-bottom: 18px;
            .ng1-left {
                float: left;
                .name {
                    @include css-h3;
                }
                p {
                    display: inline-block;
                    padding-top: 13px;
                    line-height: 20px;
                }
            }
            .ng1-right {
                float: right;
                @include css-a;
            }
        }
        .ng2 {
            width: 1100px;
            height: 364px;
            overflow: hidden;
            .swiper-slide {
                width: 1100px;
                .goods {
                    float: left;
                    margin-right: 10px;
                    text-align: center;
                    font-size: 13px;
                    position: relative;
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 265px;
                        height: 265px;
                        background-color: #f4f4f4;
                        cursor: pointer;
                    }
                    .text {
                        margin-top: 275px;
                        .tag {
                            width: 70px;
                            height: 20px;
                            line-height: 20px;
                            background-color: #e36844;
                            padding: 0 5px;
                            color: #ffffff;
                            font-size: 12px;
                            margin: 0 auto 3px auto;
                        }
                        h4 {
                            width: 166px;
                            height: 40px;
                            margin: 0 auto 4px;
                            line-height: 20px;
                            text-align: center;
                            span {
                                color: #333333;
                                font-weight: bold;
                                cursor: pointer;
                            }
                            span:hover {
                                color: #b4a078;
                            }
                        }
                        p {
                            display: block;
                            width: 265px;
                            height: 24px;
                            color: #d4282d;
                            padding: 1px 0 9px;
                            font-size: 13px;
                            line-height: 13px;
                        }
                    }
                }
            }
        }
        .btn-prev {
            background: url(../img/yx.png);
            background-position: 0 -4741px;
            width: 50px;
            height: 50px;
            transform: rotate(180deg);
            background-color: #E2C199;
            border-radius: 50%;
            outline: none;
            top: 240px;
            left: -60px;
            z-index: 99;
        }
        .btn-next {
            background: url(../img/yx.png);
            background-position: 0 -4741px;
            width: 50px;
            height: 50px;
            background-color: #E2C199;
            border-radius: 50%;
            outline: none;
            top: 240px;
            left: 1100px;
        }
    }
}